# SAB-Specific
git+https://github.com/cheetahtemplate/cheetah.git
cryptography
git+git://github.com/sabnzbd/sabyenc@v332#egg=sabyenc
certifi

# Basic build requirements
setuptools
appdirs
packaging
pkginfo